<template>
  <div class="about">
    <div>
      <img src="@/assets/zyates.jpg" width="300">
      <h1>Zachary Yates</h1>
      <h4>Public Sector Solution Architect</h4>
      <p>
        <a href="mailto:zyates@gitlab.com">zyates@gitlab.com</a>
      </p>
      <p>
        <a href="https://gitlab.com/zyates">@zyates</a>
      </p>
    </div>

  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
